a:hover { 
	color: #f6c607 !important;
	font-weight: bold;
}
nav {
	text-transform: uppercase; 
}
.jumbotron {
	text-align: center;
	height: 400px;
	margin-bottom: 0;
	background-image: url(../img/dinning.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0.4);

}
.jumbotron img{
	height: 100px;
}

.jumbotron h1{
	font-family: 'Great Vibes';
	margin-top: 30px;
	font-size: 60px;
	width: auto;
	color: #fff;

}
.jumbotron h3{
	color: #fff;
	padding: 10px;
}
.carousel-inner img{
	width: 100%;
	height: 100%;
}
.jumbotron span{
	color: #f6c607;
	background-color: black;
}
.card-body {
	text-align: center;
	font-size: 30px;
	color: #212121;
	font-family: 'Great Vibes';
}
.card-text1{
	color: #212121;
	font-family: 'Arial';
	font-size: 20px;
}
#culinary {
	background-image: url(../img/chocolate.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}
#culinary h3{
	color: #fff;
	font-size: 50px;
}
#private {
	background-image: url(../img/culinary.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}	
#private h3{
	color: #fff;
	font-size: 50px;
}
#private span {
	color: #f6c607;
}
#culinary span {
	color: #f6c607;	
}
#Bar h3{
	color: #fff;
	font-size: 50px;
}
#Bar span {
	color: #f6c607;
}
#Bar {
	background-image: url(../img/cocktails.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}
#news {
	font-family: 'Great Vibes';
	font-size: 40px;
}
footer {
	margin-top: 60px;
	color: white;
	margin-bottom: 0px;

}
.page-footer{
	height: 300px;
}
footer h3{
	margin-bottom: 20px;
	font-family: 'Great Vibes';
	color: #f6c607;
	font-size: 45px;
}
.fa-angrycreative{
	font-size: 60px;
	color: #ffffff;
}
.fa-angrycreative:hover{
	font-size: 60px;
	color: #f6c607;
}
.py-5{
	padding-bottom: 0px !important;
}
.jumbotron-fluid {
	background-image: url(../img/our-menu.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0,0,0,0.4);
}

.container .text-center h2{
	font-family: 'Greats Vibes';
}

.text-center {
	font-family: 'Greats Vibes'!important;
	margin-bottom: 20px;

}

.breakfast  {
	background-image: url(../img/chocolate.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;

}
.card-text {
	font-family: 'Great Vibes';
	color: #fff;
	font-size: 30px;
	background-color: rgba(0,0,0,0.5);
	
}

.bg-success {
	background-image: url(../img/breakfast.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}
.bg-light{
	background-image: url(../img/entries.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}
.bg-warning{
	background-image: url(../img/tacos.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}
.bg-danger {
	background-image: url(../img/cocktails.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}
.bg-info {
	background-image: url(../img/desserts.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}
.exampleInputEmail1{
	width: 20px;
}
#carte {
	font-family: 'Roboto';
}
#carte1 {
	background-image: url(../img/restaurants.jpg);
	background-repeat: no-repeat;
	/*background-size: cover;*/
}
#contact::before {
	background-image: url(../img/contact-us.jpg);
	filter: brightness(20%);
}
.form {
	background-color: #e4e4e4;
	padding: 40px;
	color: #000;
}
.glyphicon{
	margin-top: 30px;
}
.blockquote-footer{
	margin-top: 15px;
}
.block{
	background-color: black;
	font-family: 'Great Vibes';
	color: #fff;
	width: 170px;
	padding: 10px;
	margin-top: -65px;
	z-index: 10;
	border: 2px solid #f6c607;	
}
#perModal {
	margin-bottom: -300px;
	display: flex;
	align-items: flex-end;
}
#heure{
	font-family: 'Great Vibes';
	color: #2b2b2a;
}


